<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Dream Cards</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <section class="title-section">
      <h1> <%= user.userName %>'s Dream Board </h1>
      <h4> Envision Your Dreams </h4>
      <p>
        A space to keep all of your dreams!
      </p>
    </section>
  </nav>
  
  <main>
    <div class="card-container">
      <% if (locals.cards) { %>   
        <% locals.cards.forEach(card => { %>
          <div class="card card-<%= card.dreamTopic %>">
            <h4 class="card-title"> <%= card.dreamTopic %>  </h4>
            <p class="card-p">  
              <%= card.dream %> 
            </p>
          <form class="deleteForm" action="/cards/<%= card.id %>?_method=DELETE" 
              method="POST">
              <button type="submit" class="deleteBtn">
                <img class="deleteIcon" src="./images/Trash.svg">
              </button>
              <img class="card-img" src="./images/<%= card.dreamTopic %>.svg" alt="">
            </form>
        </div>
        <% }) %>
      <% } %>
    </div>
  
    <form class="dreamForm" action="/cards/addCard" method="POST">
      <h3>Add A New Dream</h3>
      <input name="dream" value="" placeholder="What's Your Dream?" type="text">

        <!-- <label for="dreamList">Dream Type</label> -->
        <select id="dreamList" name="dreamTopic">
          <option value="Money">Money</option>
          <option value="Family">Family</option>
          <option value="Friendship">Friendship</option>
          <option value="Self">Self</option>
          <option value="Health">Health</option>
        </select>

      <input type="submit" value="Add Dream">
  </form>




  </main>




  <footer>

  </footer>
</body>
</html>